/* Estilo para o modal */
/* Estilo para o modal que cobre a página inteira */
.comercial {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
}

/* Conteúdo do modal */
.modal-formulario {
    background-color: #fff;
    padding: 20px;
    width: 90%;
    max-width: 900px;
    position: relative;
    margin: 45px auto;
    border-radius: 10px;
}

/* Estilo para o botão de fechar */
.fechar {
    position: absolute;
    right: 20px;
    top: 5px;
    color: #888;
    font-size: 32px;
    cursor: pointer;
    z-index: 1;
}

main {
    background-color: #fff;
}

header {
    background-color: black;
    height: 30px;
    width: 100%;
}

.apresentacao {
    background: url("img/listras-back.svg");
    background-size: cover;
    background-position-y: -160px;
    width: 100%;
    padding-top: 140px;
    padding-bottom: 220px;
    background-color: #fff;
}

.wrapper-row-1 {
    display: flex;
    max-width: 1100px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0px 20px;
}

.column-1 {
    flex-basis: calc(50% - 20px);
    margin-right: 20px;
}

    .column-1 span {
        color: #222;
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: 45px;
    }

    .column-1 p {
        color: rgba(34, 34, 34, 0.70);
        font-family: Ubuntu;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        margin: 25px 0px;
    }

.one-text {
    display: none;
}

    .one-text p {
        color: rgba(34, 34, 34, 0.70);
        font-family: Ubuntu;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        margin: 25px 0px;
    }

button:not(.navbar-toggler):not(.close) {
    cursor: pointer;
    border: none;
    padding: 21px 30px;
    color: white;
    font-weight: 700;
    border-radius: 100px;
    background: #09F;
    box-shadow: 0px 0px 30px 0px rgba(0, 153, 255, 0.50);
}

.column-2 {
    max-height: 515px;
    display: flex;
    align-items: end;
    flex-basis: 50%;
}

.conquistas {
    color: #222;
    text-align: center;
    font-family: Ubuntu;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 50px;
    line-height: 25px;
}

    .conquistas strong {
        color: #09F;
    }

.numeros {
    border-radius: 0px 0px 200px 0px;
    background: url("https://cdn.ticketagora.com.br/ticketagora/site/marketing-blue.svg") rgba(0, 153, 255, 0.90) no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.display-phone {
    max-width: 1100px;
    width: calc(100% - 40px);
    padding: 0px 20px;
    margin-top: -150px;
}

.wrapper-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper-box-2 {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.row-box {
    display: flex;
    justify-content: center;
}

.box {
    width: 248px;
    margin: 2.5px;
    height: 136px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wrapper-textbox {
    display: flex;
    justify-content: center;
    padding-bottom: 180px;
}

    .wrapper-textbox p {
        color: #FFF;
        text-align: center;
        font-family: Ubuntu;
        font-size: 35px;
        font-style: italic;
        font-weight: 500;
        line-height: 45px;
    }

.box span {
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin: 0px;
    padding: 0px;
}

.box p {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    margin: 10px 0px 0px 0px;
    padding: 0px;
}

.box img {
    width: 15px;
    height: 15px;
}

.atendimento {
    margin-top: 100px;
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.equipe {
    max-width: 1100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.circle {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .circle img {
        max-width: 100%;
        height: auto;
    }

.equipe-phone {
    display: none;
}

.text-time {
    flex-basis: calc(50% - 20px);
    color: #222;
    margin-right: 20px;
}

    .text-time h3 {
        font-size: 35px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
    }

    .text-time strong {
        font-size: 35px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
        color: #09F;
    }

    .text-time p {
        text-align: justify;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        margin-top: 15px;
    }

.text-journey p {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 30px;
}

.text-journey button {
    margin-top: 20px;
}

.check-line img {
    margin-right: 8px;
}

.check-line {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 14px 0px;
}

.app-ticket {
    display: flex;
    justify-content: center;
    padding: 135px 20px;
    background: url(https://cdn.ticketagora.com.br/ticketagora/site/Ellipse44.svg) #F4F4F4 no-repeat;
    background-position-y: -1444px;
    background-position-x: center;
    background-size: 3800px;
}

.wrapper-phone {
    display: flex;
    max-width: 1100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.phone {
    border-radius: 494px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .phone img {
        max-width: 100%;
        flex-basis: 50%;
    }

.phone-text {
    flex-basis: calc(50% - 20px);
    margin-left: 20px;
}

    .phone-text h3 {
        font-size: 35px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
    }

    .phone-text strong {
        color: #09F;
    }

    .phone-text p {
        margin: 18px 0px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px
    }

.modal-gray {
    padding: 20px;
    border-radius: 5px;
    background: #F4F4F4;
    margin-bottom: 15px;
}

    .modal-gray strong {
        color: #222;
    }

.images-phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

    .images-phone img {
        padding: 20px 8px 0px 8px;
    }

        .images-phone img:first-child {
            padding-left: 0;
        }

        .images-phone img:last-child {
            padding-right: 0;
        }

    .images-phone .google {
        padding: 24px 8px 0px 8px;
        ;
    }

.universo-ticket {
    padding: 60px 0px 200px 0px;
    display: flex;
    justify-content: center;
    background-image: url(https://cdn.ticketagora.com.br/ticketagora/site/Ellipse47.svg);
    background-repeat: no-repeat;
    background-position-y: -523px;
    background-position-x: center;
    background-size: 1907px;
}

.wrapper-universe {
    max-width: 1100px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

    .wrapper-universe h2 {
        text-align: center;
        font-size: 35px !important;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
        margin: auto auto 30px auto;
        width: 100%;
    }

    .wrapper-universe strong {
        color: #09F;
    }

    .wrapper-universe h4 {
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        margin: auto;
        line-height: 30px;
    }

    .wrapper-universe p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        margin: auto;
    }

.img-ticket {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
}

    .img-ticket img {
        margin: 5px;
    }

.midia {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    flex-direction: column;
    text-align: center;
}

    .midia h2 {
        font-size: 35px !important;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
        margin: 0px 0px 40px 0px;
    }

    .midia strong {
        color: #09F;
    }

.wrapper-materias {
    max-width: 1100px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
}
.wrapper-materias img{
    vertical-align: sub;
    cursor: pointer;
}
    @media (max-width: 550px) {
        main .apresentacao {
            display: flex;
            justify-content: center;
            width: 100%;
            padding-top: 60px;
            padding-bottom: 50px;
            background: none;
        }

        .wrapper-row-1 {
            flex-direction: column;
            justify-content: center;
            padding: 15px 15px 0px 15px;
        }

        .column-1 {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0;
        }

            .column-1 p {
                display: none
            }

        .one-text {
            display: block;
            margin-bottom: 120px;
        }

            .one-text p {
                text-align: center;
            }

        .column-1 span {
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            text-align: center;
        }

        .column-1 button {
            margin: 30px 0px 0px 0px;
            padding: 17px 15px;
            font-size: 14px;
        }

        .column-2 {
            width: 100%;
            height: 310px;
            border-radius: 100px 0px 50px 0px;
        }

            .column-2 .first-img {
                width: 280px;
                height: 330px;
                display: flex;
                align-items: end;
                margin-left: 10px;
            }

                .column-2 .first-img img {
                    height: 100%;
                }

        .numeros {
            border-radius: 0px;
            height: fit-content;
            background: #09F;
        }

            .numeros .wrapper-box {
                width: auto;
            }

            .numeros .display-phone {
                display: flex;
                overflow-x: scroll;
                padding: 0px 10px;
                width: 100%;
                justify-content: flex-start;
                margin-top: -150px;
            }

            .numeros .wrapper-textbox p {
                font-size: 20px;
                font-style: italic;
                font-weight: 500;
                line-height: 30px;
                margin-bottom: 35px;
                width: 100%;
            }

        .atendimento {
            padding: 0px;
        }

            .atendimento .text-time h3 {
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px;
            }

            .atendimento .text-time strong {
                font-size: 25px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px;
            }

            .atendimento .text-time p {
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
            }

            .atendimento .text-journey p {
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 20px;
            }

            .atendimento .check-line {
                display: flex;
                text-align: start;
                align-items: flex-start;
                margin: 14px 0px;
            }

        .circle {
            width: 100%;
            height: fit-content;
        }

            .circle img {
                width: 100%;
                height: auto;
            }

        .app-ticket {
            padding: 10px;
        }

            .app-ticket .modal-gray {
                padding: 20px 25px;
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
            }

            .app-ticket .phone {
                display: none;
            }

            .app-ticket .phone-text {
                width: 100%;
            }

                .app-ticket .phone-text h3 {
                    font-size: 25px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 30px;
                }

                .app-ticket .phone-text p {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22px;
                }

            .app-ticket .images-phone {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
            }

            .app-ticket .text-journey button {
                margin-top: 20px;
                padding: 17px 29px;
                font-size: 14px;
            }

            .app-ticket .text-journey span {
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 25px;
            }

        body .universo-ticket {
            margin: 10px 0px;
            border-radius: 0;
            padding: 0px;
        }

        .wrapper-universe {
            width: 100%;
            padding: 15px;
        }

            .wrapper-universe h2 {
                font-size: 25px !important;
                font-style: normal;
                font-weight: 700;
                line-height: 30px;
                padding: 10px;
            }

            .wrapper-universe h4 {
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 22px;
            }

            .wrapper-universe p {
                width: 100%;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
                padding: 0;
            }
    }

    @media (max-width: 768px) {
        .comercial {
            z-index: 0;
        }

        .wrapper-row-1, .wrapper-equipe, .wrapper-phone {
            flex-wrap: wrap;
        }

        .wrapper-row-1 {
            flex-wrap: wrap;
            justify-content: center;
        }

            .wrapper-row-1 .column-1 {
                flex-basis: 100%;
            }

            .wrapper-row-1 .column-2 {
                margin-top: 50px;
                justify-content: center;
            }

        .column-2 .first-img img {
            width: 100%;
        }

        .conquistas {
            padding: 0px 0px 10px 0px;
            margin-bottom: 10px;
        }

            .conquistas span {
                font-size: 25px;
                font-style: normal;
                font-weight: 500;
            }

        .wrapper-textbox {
            margin-top: 0px;
            margin-bottom: 0px;
            padding-bottom: 0px;
        }

            .wrapper-textbox p {
                font-size: 25px;
            }

        .numeros {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #09F;
            background-image: none;
            border-radius: 0px;
        }

        .display-phone {
            flex-direction: column;
            justify-content: center;
            margin-top: -140px;
        }

        .numeros-boxes {
            display: flex;
            overflow-x: scroll;
        }

        .wrapper-box {
            width: auto;
        }

        .wrapper-box-2 {
            padding-top: 0px;
            flex-basis: 100%;
            margin-bottom: 20px;
        }

        .box {
            margin-top: 5px;
        }

        .atendimento {
            padding: 0px;
            margin-top: 0px;
        }

            .atendimento .equipe {
                padding: 0px;
                display: flex;
                flex-direction: column-reverse;
            }

        .equipe-desktop {
            display: none;
        }

        .equipe-phone {
            display: block;
            flex-basis: 100%
        }

        .atendimento .text-time {
            width: 100%;
            padding: 30px 10px 10px 10px;
            background-color: #fff;
        }

        .atendimento .text-time, .circle {
            flex-basis: 100%;
        }

        .wrapper-universe p {
            width: 100%;
            padding: 0px 20px;
        }

        .img-ticket {
            display: flex;
            width: 100%;
            overflow-x: scroll;
            flex-wrap: nowrap;
            justify-content: flex-start !important;
        }

        .wrapper-phone {
            flex-direction: column-reverse;
            justify-content: center;
        }

        .app-ticket {
            background-color: white;
        }

        .phone-text {
            margin-left: 0px;
        }

        .btn-blue {
            display: flex;
            justify-content: center;
        }

        .universo-ticket {
            padding-top: 0px;
        }

        .midia {
            margin-bottom: 30px;
        }

            .midia h2 {
                font-size: 25px !important;
                margin: 30px 0px 40px 0px;
            }

            .midia .materias-ticket {
                width: 95%;
                display: flex;
                overflow-x: scroll;
            }

        .wrapper-materias {
            margin: 0;
            padding: 0px 15px;
        }

            .wrapper-materias img {
                margin-right: 5px;
            }
    }

    @media (max-width: 1024px) {
        .column-2 .first-img {
            margin-left: 0px;
        }
    }
